html {
	scroll-behavior: smooth;
}

input[type="file"] {
	display: none;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	align-self: baseline;
}

	.custom-file-upload:hover {
		background-color: rgb(0,173,168);
	}

.containerCardsPerson {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: baseline;
	width: 980px;
	background-color: #f5f5f5;
	margin: 10px;
}

	.containerCardsPerson .cardPerson {
		margin-left: 5px;
		margin-right: 5px;
		cursor: pointer;
		transition: all 1s ease;
		width: 300px;
		display: inline-flex;
		flex-wrap: wrap;
		border-style: dashed;
		border-width: 1px;
		border-color: rgb(0,173,168);
		margin-top: 20px;
	}

		.containerCardsPerson .cardPerson .info {
			margin-left: 5px;
			width: 150px;
		}

			.containerCardsPerson .cardPerson .info span {
				word-break: break-all;
			}

			.containerCardsPerson .cardPerson .info .emoji {
				font-size: 18px;
			}

		.containerCardsPerson .cardPerson img {
			width: 120px;
		}

		.containerCardsPerson .cardPerson:hover {
			box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
		}

		.containerCardsPerson .cardPerson label {
			float: none !important;
			width: auto !important;
			text-align: left !important;
			word-break: break-word;
		}

		.containerCardsPerson .cardPerson.open {
			height: calc(100vh - 120px);
			z-index: 1000000;
			position: absolute;
			left: 1000px;
		}

			.containerCardsPerson .cardPerson.open a {
				visibility: visible;
			}

.person {
	width: 950px;
	background-color: #f5f5f5;
	margin: 10px;
	display: flex;
}

	.person .menuLeft {
		margin-right: 10px;
	}

	.person label {
		float: none !important;
		width: auto !important;
		text-align: left !important;
	}

.inactivePerson {
	width: 980px;
	background-color: #f5f5f5;
	margin: 10px;
}
	.inactivePerson label {
		float: none !important;
		width: auto !important;
		text-align: left !important;
	}

.showReturnToPersons {
	display: none;
}

.returnToPersons {
	width: 24px;
}

	.returnToPersons:hover {
		box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
	}

	.returnToPersons i {
		cursor: pointer;
		background-color: rgb(228,228,228);
		color: rgb(0,173,168);
	}

.scroller {
	display: inline-flex;
	overflow: hidden;
	width: 1000px;
	background-color: white;
}

	.scroller a {
		color: rgb(0,173,168)
	}

		.scroller a:visited {
			color: rgb(0,173,168)
		}

	.scroller i:hover {
		box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
	}

.invalid {
	border-color: red !important;
}

#stylized input, #stylized select, #stylized checkbox {
	margin-left: unset !important;
}

.verticalLine {
	height: 10px;
}

.form .field {
	margin: 6px;
}

	.form .field.add {
		display: flex;
		align-items: center;
	}

.capitalize {
	text-transform: capitalize;
}

.containerExperienciaLaboral {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: baseline;
	width: 930px;
	background-color: #f5f5f5;
	margin: 10px;
}

	.containerExperienciaLaboral .experienciaLaboral {
		margin-left: 5px;
		margin-right: 5px;
		transition: all 1s ease;
		width: 300px;
		border-style: dashed;
		border-width: 1px;
		border-color: rgb(0,173,168);
		margin-top: 20px;
	}

		.containerExperienciaLaboral .experienciaLaboral div {
			padding: 3px;
		}

		.containerExperienciaLaboral .experienciaLaboral .iconDeleteExperienciaLaboral {
			cursor: pointer;
			display: block;
			width: fit-content;
			float: right;
			font-size: 10px;
		}

			.containerExperienciaLaboral .experienciaLaboral .iconDeleteExperienciaLaboral:hover {
				box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
			}

.experienciaLaboralNueva {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
}

.containerEducacion {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: baseline;
	width: 930px;
	background-color: #f5f5f5;
	margin: 10px;
}

	.containerEducacion .educacion {
		margin-left: 5px;
		margin-right: 5px;
		transition: all 1s ease;
		width: 300px;
		border-style: dashed;
		border-width: 1px;
		border-color: rgb(0,173,168);
		margin-top: 20px;
	}

		.containerEducacion .educacion div {
			padding: 3px;
		}

		.containerEducacion .educacion .iconDeleteEducacion {
			cursor: pointer;
			display: block;
			width: fit-content;
			float: right;
			font-size: 10px;
		}

			.containerEducacion .educacion .iconDeleteEducacion:hover {
				box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
			}

.containerHijos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: baseline;
	width: 930px;
	background-color: #f5f5f5;
	margin: 10px;
}

	.containerHijos .hijo {
		margin-left: 5px;
		margin-right: 5px;
		transition: all 1s ease;
		width: 300px;
		border-style: dashed;
		border-width: 1px;
		border-color: rgb(0,173,168);
		margin-top: 20px;
	}

		.containerHijos .hijo div {
			padding: 3px;
		}

		.containerHijos .hijo .iconDeleteHijo {
			cursor: pointer;
			display: block;
			width: fit-content;
			float: right;
			font-size: 10px;
		}

			.containerHijos .hijo .iconDeleteHijo:hover {
				box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
			}

.containerContactosEmergencia {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: baseline;
	width: 930px;
	background-color: #f5f5f5;
	margin: 10px;
}

	.containerContactosEmergencia .contactoEmergencia {
		margin-left: 5px;
		margin-right: 5px;
		transition: all 1s ease;
		width: 300px;
		border-style: dashed;
		border-width: 1px;
		border-color: rgb(0,173,168);
		margin-top: 20px;
	}

		.containerContactosEmergencia .contactoEmergencia div {
			padding: 3px;
		}

		.containerContactosEmergencia .contactoEmergencia .iconDeleteContactoEmergencia {
			cursor: pointer;
			display: block;
			width: fit-content;
			float: right;
			font-size: 10px;
		}

			.containerContactosEmergencia .contactoEmergencia .iconDeleteContactoEmergencia:hover {
				box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
			}

.containerPromociones {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: baseline;
	width: 930px;
	background-color: #f5f5f5;
	margin: 10px;
}

	.containerPromociones .promocion {
		margin-left: 5px;
		margin-right: 5px;
		transition: all 1s ease;
		width: 300px;
		border-style: dashed;
		border-width: 1px;
		border-color: rgb(0,173,168);
		margin-top: 20px;
	}

		.containerPromociones .promocion div {
			padding: 3px;
		}

		.containerPromociones .promocion .iconDeletePromocion {
			cursor: pointer;
			display: block;
			width: fit-content;
			float: right;
			font-size: 10px;
		}

			.containerPromociones .promocion .iconDeletePromocion:hover {
				box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
			}

.containerSalarios {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: baseline;
	width: 930px;
	background-color: #f5f5f5;
	margin: 10px;
}

	.containerSalarios .salario {
		margin-left: 5px;
		margin-right: 5px;
		transition: all 1s ease;
		width: 300px;
		border-style: dashed;
		border-width: 1px;
		border-color: rgb(0,173,168);
		margin-top: 20px;
	}

		.containerSalarios .salario div {
			padding: 3px;
		}

		.containerSalarios .salario .iconDeleteSalario {
			cursor: pointer;
			display: block;
			width: fit-content;
			float: right;
			font-size: 10px;
		}

			.containerSalarios .salario .iconDeleteSalario:hover {
				box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
			}

.filters {
	transition: all ease 1s;
	height: 30px;
	overflow-y: hidden;
	margin-bottom: 10px;
}
	.filters i {
		transition: all ease 1s;
		cursor: pointer;
	}

	.filters.maximize {
		height: 300px;
	}
	.filters.maximize div i {
		transform:rotateX(180deg);
	}

	.filters .minimizeSearch {
		bottom: 1px;
	}

	.filters .maximizeSearchIcon, .filters .minimizeSearchIcon {
		cursor: pointer;
		background-color: rgb(228,228,228);
		color: rgb(0,173,168);
	}

		.filters .maximizeSearchIcon:hover, .filters .minimizeSearchIcon:hover {
			box-shadow: 0 5px 5px rgba(106,106,106.1,0.4), 0 -5px 5px rgba(106,106,106.1,0.4), 5px 0 5px rgba(106,106,106.1,0.4), -5px 0 5px rgba(106,106,106.1,0.4);
		}

.formFilters label {
	float: none !important;
	width: auto !important;
	text-align: left !important;
}
.namesPerson {
	font-size: 30px !important;
	margin: 10px;
	color: rgb(0,173,168);
}