<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.200.119.10.166.Logging.FileLogTraceListener, Microsoft.200.119.10.166, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="MatrixConnectionString" connectionString="Data Source=AmCoBogApp1;Initial Catalog=Matrix;User ID=MatrixUsr;Password=matrix123" providerName="System.Data.SqlClient"/>
    <add name="MatrixConnectionString1" connectionString="Data Source=AmCoBogApp1;Initial Catalog=Matrix;User ID=MatrixUsr;Password=matrix123" providerName="System.Data.SqlClient"/>
    <add name="GestionCampoConnectionString" connectionString="Data Source=AmCoBogApp1;Initial Catalog=GestionCampo;User ID=MatrixUsr;Password=matrix123" providerName="System.Data.SqlClient"/>
    <add name="US_Entities" connectionString="metadata=res://*/US_Model.csdl|res://*/US_Model.ssdl|res://*/US_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GD_Entities" connectionString="metadata=res://*/GD_Model.csdl|res://*/GD_Model.ssdl|res://*/GD_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CU_Entities" connectionString="metadata=res://*/CU_Model.csdl|res://*/CU_Model.ssdl|res://*/CU_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SG_Entities" connectionString="metadata=res://*/SG_Model.csdl|res://*/SG_Model.ssdl|res://*/SG_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ES_Entities" connectionString="metadata=res://*/ES_Model.csdl|res://*/ES_Model.ssdl|res://*/ES_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="OP_Entities" connectionString="metadata=res://*/OP_Model.csdl|res://*/OP_Model.ssdl|res://*/OP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="PY_Entities" connectionString="metadata=res://*/PY_Model.csdl|res://*/PY_Model.ssdl|res://*/PY_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AmCoBogApp1;initial catalog=Matrix;persist security info=True;user id=matrixusr;password=matrix123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="TH_Entities" connectionString="metadata=res://*/TH_Model.csdl|res://*/TH_Model.ssdl|res://*/TH_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;user id=MatrixUsr;password=matrix123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OP_Q_Entities" connectionString="metadata=res://*/OP_Cuanti.csdl|res://*/OP_Cuanti.ssdl|res://*/OP_Cuanti.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix-Pruebas;User ID=MatrixUsr;Password=matrix123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OP_RO_Entities" connectionString="metadata=res://*/OP_RO_Model.csdl|res://*/OP_RO_Model.ssdl|res://*/OP_RO_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="OP_Cuanti" connectionString="metadata=res://*/OP_Cuanti_Model.csdl|res://*/OP_Cuanti_Model.ssdl|res://*/OP_Cuanti_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AmCoBogApp1;initial catalog=Matrix;user id=MatrixUsr;password=matrix123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OP_Cuanti2" connectionString="metadata=res://*/OP_Cuanti2_Model.csdl|res://*/OP_Cuanti2_Model.ssdl|res://*/OP_Cuanti2_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="CORE_Entities" connectionString="metadata=res://*/CORE_Model.csdl|res://*/CORE_Model.ssdl|res://*/CORE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="IQ_MODEL" connectionString="metadata=res://*/IQ_MODEL.csdl|res://*/IQ_MODEL.ssdl|res://*/IQ_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="RP_Entities" connectionString="metadata=res://*/REP_Model.csdl|res://*/REP_Model.ssdl|res://*/REP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AmCoBogApp1;initial catalog=Matrix;persist security info=True;user id=matrixusr;password=matrix123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PY_CualiEntities" connectionString="metadata=res://*/PY_Cuali.csdl|res://*/PY_Cuali.ssdl|res://*/PY_Cuali.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;User ID=MatrixUsr;Password=matrix123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CC_FinzOpe" connectionString="metadata=res://*/CC_FinzOpe.csdl|res://*/CC_FinzOpe.ssdl|res://*/CC_FinzOpe.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;Persist Security Info=True;User ID=MatrixUsr;Password=matrix123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="PNCEntities" connectionString="metadata=res://*/PNC_Model.csdl|res://*/PNC_Model.ssdl|res://*/PNC_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;persist security info=True;user id=MatrixUsr;password=matrix123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="FI_Entities" connectionString="metadata=res://*/FI_Model.csdl|res://*/FI_Model.ssdl|res://*/FI_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AmCoBogApp1;Initial Catalog=Matrix;user id=MatrixUsr;password=matrix123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GCEntities" connectionString="metadata=res://*/GestionCampo.csdl|res://*/GestionCampo.ssdl|res://*/GestionCampo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AmCoBogApp1;initial catalog=GestionCampo;user id=MatrixUsr;password=matrix123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="IPSEntities" connectionString="metadata=res://*/ModeloIPS.csdl|res://*/ModeloIPS.ssdl|res://*/ModeloIPS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AmCoBogApp1;initial catalog=Matrix;user id=MatrixUsr;password=matrix123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CIEntities" connectionString="metadata=res://*/CI_Model.csdl|res://*/CI_Model.ssdl|res://*/CI_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AmCoBogApp1;initial catalog=Matrix;persist security info=True;user id=matrixusr;password=matrix123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="INVEntities" connectionString="metadata=res://*/INV_Model.csdl|res://*/INV_Model.ssdl|res://*/INV_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AmCoBogApp1;initial catalog=Matrix;persist security info=True;user id=matrixusr;password=matrix123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
