<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.11.42" targetFramework="net452" />
  <package id="Ipsos.Apis.BIScraper" version="1.0.5" targetFramework="net452" />
  <package id="Ipsos.Apis.SisConn" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
</packages>