<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Database=Matrix;Server=AmCoBogApp1;User ID=MatrixUsr;Password=matrix123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="LogPath" value="C:\\"/>
    <add key="TimeInterval" value="60000"/>

    <add key="Correo" value="Matrix@Ipsos.com"/>
    <add key="CorreoAutenticacion" value="John.Patino@Ipsos.Com"/>
    <add key="Host" value="smtp.office365.com"/>
    <add key="Puerto" value="25"/>
    <add key="Clave" value="Metas2016"/>


  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
