.ui-widget-header {
    border: 1px solid #aaaaaa;
    background-color: #13b0a8;
    font-weight: bold;
}

.btn-Open-Modal {
    padding: 10px !important;
    width: 40px !important;
}

.pnl-data {
    background-color: rgba(175, 175, 175, 0.2);
}

.pnl-border-data {
    border: 1px solid #b7b7b7;
}

.txt-data {
    outline: 3px solid #e9e9e9 !important;
    margin-bottom: 0px !important;
    font-size: 14px !important;
    border: 1px solid #c8c8c8 !important;
}

.pos-der {
    float: right !important;
}

.pos-izq {
    float: left !important;
    margin-left: 0px !important;
}

.pos-center {
    float: none;
    text-align: center;
    margin: 0px auto;
}

.lblNombres {
    font-size: 18px;
    width: 50%;
    text-align: left;
    margin-left: 10px;
    border: none;
}

.inputModal {
    border: 1px solid #9c9c9c !important;
}

.btnModal {
    font-size: 15px !important;
    height: 30px !important;
}

.textareaWhite {
    background-color: white;
    border: 1px solid #b7b7b7;
}

    .textareaWhite:hover {
        background-color: white !important;
    }