body
{
	background-image:url(../images/fnd-matrix.gif);
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	margin:0px;
}
fieldset
{
	border:none;
	margin-top:25px;
}
input{
	text-shadow: 0px 0px 20px #D6F2CC;
	font-family: 'Sanchez', serif;
	color:#A1C19A;
	background-color:#000;
	width:210px;
	height:20px;
	margin-top:4px;
	margin-bottom:2px;
	border: 1px solid #2B2B2B;
}
.button {
	color:#FFF;
	height:25px;
	width:76px;
    background: #000;
	margin: 10px 0 0 25%;
	box-shadow: 0px 0px 6px 1px #366006;
	-webkit-box-shadow: 0px 0px 6px 1px #366006;
	-moz-box-shadow: 0px 0px 6px 1px #366006;
	-ms-box-shadow: 0px 0px 6px 1px #366006;
	-o-box-shadow: 0px 0px 6px 1px #366006;
}
.button:hover {
	color:#FFF;
	height:25px;
	width:76px;
    background: #0F0F0F;
	margin: 10px 0 0 25%;
	box-shadow: 0px 0px 6px 1px #366006;
	-webkit-box-shadow: 0px 0px 6px 1px #366006;
	-moz-box-shadow: 0px 0px 6px 1px #366006;
	-ms-box-shadow: 0px 0px 6px 1px #366006;
	-o-box-shadow: 0px 0px 6px 1px #366006;
}
label {
    font-family: 'Sanchez', serif;
	color:#C9EDBC;
	width: 25%;
   float: left;	
   text-shadow: 0px 0px 20px #D6F2CC;
   -webkit-text-shadow: 0px 0px 20px #D6F2CC;
   -moz-text-shadow: 0px 0px 20px #D6F2CC;
   -ms-text-shadow: 0px 0px 20px #D6F2CC;
   -o-text-shadow: 0px 0px 20px #D6F2CC;
}
p {
    font-family: 'Sanchez', serif;
	color:#C9EDBC;
	text-shadow: 0px 0px 20px #D6F2CC;
	-webkit-text-shadow: 0px 0px 20px #D6F2CC;
	-moz-text-shadow: 0px 0px 20px #D6F2CC;
	-ms-text-shadow: 0px 0px 20px #D6F2CC;
	-o-text-shadow: 0px 0px 20px #D6F2CC;
}
#logomatrix
{
	margin:5% auto 0;
	width:680px;
	height:134px;
}
#contentlogin
{
	
	margin:1% auto 0;width:410px;
	height:200px;
	background-image:url(../images/fnd-content-login.png);
	background-repeat:repeat;
	border-color: #123303;
	 border-width: 1px;
	 border-style: solid;
	 padding:30px 30px 15px 30px;
	 box-shadow: -0px 0px 30px 10px #000;
	 -webkit-box-shadow: -0px 0px 30px 10px #000;
	 -moz-box-shadow: -0px 0px 30px 10px #000;
	 -ms-box-shadow: -0px 0px 30px 10px #000;
	 -o-box-shadow: -0px 0px 30px 10px #000;
}
#content
{
	margin:5% auto 0;
}
.divcont {
   margin: .4em 0;
}