input {
    color: #666;
    background-color: #FFF;
    border: none;
}

    input:hover {
        background-color: #F4F4F4;
    }

label {
    text-align: left;
    color: #FFF;
    font-family: 'Metrophobic', Arial, serif;
    font-weight: 200;
    font-size: 14px;
}

select {
    color: #666;
    background-color: #FFF;
    width: 200px;
    height: 20px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: none;
}

textarea {
    color: #666;
    background-color: #FFF;
    width: 230px;
    height: 60px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: none;
}

#campo-formulario1 {
    float: left;
    padding: 30px;
    min-height: 150px;
    /*background-image: url('../images/fnd-form2.jpg');*/
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

    #campo-formulario1 label {
        padding-top: 8px !important;
        color: black;
    }

    #campo-formulario1 input[type=checkbox] {
        height: 15px !important;
        margin: 0px !important;
        width: 100% !important;
    }

#campo-formulario2 {
    float: left;
    padding: 30px;
    min-height: 150px;
    /*background-image: url('../images/fnd-form2.jpg');*/
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

    #campo-formulario2 label {
        padding-top: 8px !important;
        color: black !important;
    }

    #campo-formulario2 input[type=checkbox] {
        height: 15px !important;
        margin: 0px !important;
    }

#campo-formulario3 {
    float: left;
    min-height: 150px;
    margin-top: 10px;
    /*margin-right: 15px;
    background-image: url(../images/fnd-form3.jpg);
    padding: 30px;
    border-radius: 10px;*/
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

    #campo-formulario3 label {
        padding-top: 8px !important;
        color: black;
    }

/*#campo-formulario3 input[type=file] {
        font-size: 13px;
        padding: 0px;
        margin: 2px 0px 11px 10px;
    }*/


#campo-formulario4 {
    float: left;
    /*margin-top: 10px;
    margin-right: 15px;
    width: 100%;
    background-color: #284694;
    border-radius: 10px;*/
    min-height: 150px;
    margin-top: 10px;
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

#campo-formulario5 {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    width: 100%;
    background-color: #08AFA7;
    padding: 30px;
    border-radius: 10px;
}


.button {
    color: #FFF;
    height: 45px;
    width: 76px;
    background: #1AAFA4;
    border: none;
}

    .button:hover {
        background: #3ADBCC;
        border: none;
    }

#container {
    width: 1114px;
    margin: 0 auto;
    padding-left: 40px;
    background-image: url(../images/fnd-section.png);
    background-position: right;
    background-repeat: no-repeat;
}

.btn-examinar {
    float: left;
    padding: 0 10px !important;
    height: 25px;
    font-size: 12px;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease;
}

.select-form {
    height: 26px;
}

.form-group {
    margin-bottom: inherit;
}

.campo-formulario {
    float: left;
    padding: 30px;
    min-height: 50px;
    /*background-image: url('../images/fnd-form2.jpg');*/
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

    .campo-formulario label {
        padding-top: 8px !important;
        color: black;
    }

    .campo-formulario input[type=checkbox] {
        height: 15px !important;
        margin: 0px !important;
        width: 100% !important;
    }
