fieldset, form, label, legend
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

}


form label
{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.block {
    /*display: block;
    margin-bottom: 15px;
        */
}

.form_left {
    /*float: left;
    margin-right: 35px;
    margin-left: 35px;
    word-break:break-all;*/
}

.form_left2 {
    /*
    float: left;
    margin-right: 75px;
    margin-left: 75px;
        */
}

    .form_left2 input[type=text] {
        /*
    width:300px;
        */
    }

form fieldset
{
    display: block;
    margin-bottom: 11px;
}

.actions
{
    clear: both;
    /*
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
        */
}

.SelectedRowStyle
{
    background-color: Yellow;
}

