.ModalMessage {
    resize: both;
    padding: 0px;
    border-radius: 10px;
    z-index: 2;
    border-width: 1px;
}

    .ModalMessage .Container {
        display: grid;
        grid-template-rows: 40px 1fr 40px;
        align-items: center;
        background-color: #F1FAFD;
        height: 100%;
    }

        .ModalMessage .Container .containerHeader {
            position: sticky;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            background-color: cadetblue;
            padding: 10px;
            z-index: 1;
            box-sizing: border-box;
        }

            .ModalMessage .Container .containerHeader .title {
                color: #fff;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                box-sizing: border-box;
            }

            .ModalMessage .Container .containerHeader button {
                border-width: 0px;
                background-color: cadetblue;
                color: white;
            }

        .ModalMessage .Container .body {
            padding: 10px;
            height: 100%;
            overflow: auto;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
        }

            .ModalMessage .Container .body .text {
                color: #033d5f;
                display: flex;
                justify-content: center;
                font-weight: bold;
                font-size: 12px;
            }

        .ModalMessage .Container .buttons {
            display: flex;
            justify-content: flex-end;
            padding: 10px;
        }

            .ModalMessage .Container .buttons button {
                padding: 14px 12px 12px 12px;
                text-transform: uppercase;
                background: #FFF;
                cursor: pointer;
                margin-left: 5px;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                color: #033d5f;
                font-weight: bold;
                font-size: 12px;
                border: 1px solid #033d5f;
            }
