#ContainerPage {
    display: grid;
    grid-template-rows: 400px;
    row-gap: 10px;
    grid-template-columns: 250px 1fr;
    column-gap: 10px;
}

    #ContainerPage #ContainerDesvinculaciones {
    }
