/* Customize the label (the CBContainer) */
.CBContainer {
  display: block;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.CBContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.CBContainer .checkmark {
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #3B86FF33;
  border-radius: 0;
  border:1px solid #3B86FF;
  display: flex;
  justify-content: center;
}

/* On mouse-over, add a grey background color */
.CBContainer:hover input ~ .checkmark {
  background-color: #3B86FF33;
}

/* When the checkbox is checked, add a blue background */
.CBContainer input:checked ~ .checkmark {
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create the checkmark/indicator (hidden when not checked) */
.CBContainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.CBContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.CBContainer .checkmark:after {
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.CBContainer .checkmark .select{
  width: 3px;
  height: 8px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.CBContainer .checkmark .unselect{
  display:none
}